# Use root/example as user/password credentials
version: '3.1'

services:
  db:
    image: mariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
    build:
      context: .
      dockerfile: db.Dockerfile
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
  backend:
    image: spring/app
    restart: always
    ports:
      - 8081:8081
    build:
      context: .
      dockerfile: spring.Dockerfile

